{% extends 'base.html.twig' %}

{%block title %}Mes reservations{% endblock %}

{% block body %}

<div class="container">
    <h1>Mes réservations</h1>
    <div class="alert alert-info mt-3">
      <p>Vous trouvez ci-dessous vos reservations</p>
    </div>
        {% for booking in app.user.bookings %}
            {%  set ad = booking.ad  %}
           <div class="row mt-5">
               <div class="col-4">
                  <img class="img-fluid" src="{{ ad.coverImage }}" alt=" photo de {{ ad.title }}">
               </div>
               <div class="col-8">
                    <h4>{{ ad.title }}</h4>
                   <p>reservation <strong>° {{ booking.id }}</strong> <br>
                   Du {{ booking.startDate|date('d/m/Y') }} au {{ booking.endDate|date('d/m/Y') }}
                   ({{ booking.amount }})</p>

                   <a href="{{ path('booking_show' , {'id' : booking.id}) }}" class="btn btn-info">plus d'infos</a>
               </div>

           </div>
        {% endfor %}


</div>

{% endblock %}